* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hahmlet", serif;
}

@media only screen and (max-width: 767px) {
  body {
    background: linear-gradient(teal, white);
  }
  body .nav {
    border: solid teal 1px;
    background-color: teal;
    position: fixed;
    top: 0;
    width: 100%;
    height: 9vh;
    min-height: 73px;
  }
  body .nav .icon {
    text-decoration: none;
  }
  body .nav .icon a.linked {
    text-decoration: none;
    color: #e0ffff;
  }
  body .nav .icon a.git {
    text-decoration: none;
    color: #e0ffff;
  }
  body .nav .icon a.mail {
    text-decoration: none;
    color: #e0ffff;
  }
  body .nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  body .nav ul li {
    list-style: none;
    font-size: 18px;
  }
  body .nav ul li a.navlabel {
    text-decoration: none;
    color: #e0ffff;
  }
  body .nav ul li a.navlabel:hover {
    color: teal;
  }
  body .nav .icon {
    color: #e0ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .landanchor {
    height: 10vh;
  }
  body .landing {
    height: 90vh;
    width: 100%;
    margin-top: -10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  body .landing__header1 {
    font-size: 25px;
    color: #e0ffff;
  }
  body .landing__header2 {
    font-size: 15px;
    color: #01ffff;
  }
  body .portanchor {
    height: 10vh;
  }
  body .portfolio {
    min-height: 100vh;
    color: #e0ffff;
    margin-bottom: 5px;
  }
  body .portfolio__header1 {
    padding-left: 8.275%;
  }
  body .gallery {
    display: grid;
    grid-template-rows: repeat(6 fr);
    grid-template-columns: repeat(3 fr);
    width: 100vw;
  }
  body .gallery__img1 {
    padding-top: 2vh;
    height: 20vh;
    width: 29vh;
    grid-row: 1/2;
    grid-column: 1/2;
    padding-left: 8.275%;
    padding-bottom: 8px;
  }
  body .gallery__img2 {
    height: 20vh;
    width: 29vh;
    grid-row: 3/4;
    padding-left: 8.275%;
    padding-bottom: 8px;
  }
  body .gallery__img3 {
    height: 20vh;
    width: 29vh;
    grid-row: 5/6;
    padding-left: 8.275%;
    padding-bottom: 8px;
  }
  body .gallery__text1 {
    width: 100%;
    font-size: 12px;
    grid-row: 2/3;
    width: 80vw;
    padding-left: 8.275%;
    padding-bottom: 8px;
  }
  body .gallery__text2 {
    font-size: 12px;
    grid-row: 4/5;
    width: 80vw;
    padding-left: 8.275%;
    padding-bottom: 8px;
  }
  body .gallery__text3 {
    font-size: 12px;
    grid-row: 6/7;
    width: 80vw;
    color: teal;
    padding-left: 8.275%;
    padding-bottom: 8px;
  }
  body .aboutanchor {
    height: 10vh;
  }
  body .about {
    color: teal;
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .about__header1 {
    font-size: 20px;
    margin-left: 8vw;
  }
  body .about__header1-para {
    font-size: 10px;
    margin-left: 8vw;
  }
  body .about__header2 {
    font-size: 20px;
    margin-left: 8vw;
  }
  body .about__header2-para {
    font-size: 10px;
    margin-left: 8vw;
  }
  body .about__header3 {
    font-size: 20px;
    margin-left: 8vw;
  }
  body .about__header3-para {
    font-size: 10px;
    margin-left: 8vw;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background: linear-gradient(teal, white);
  }
  body .firstpage {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body .firstpage .nav {
    height: 100vh;
    position: fixed;
    position: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 25vw;
  }
  body .firstpage .nav .icon {
    text-decoration: none;
  }
  body .firstpage .nav .icon a.linked {
    text-decoration: none;
    color: #e0ffff;
  }
  body .firstpage .nav .icon a.git {
    text-decoration: none;
    color: #e0ffff;
  }
  body .firstpage .nav .icon a.mail {
    text-decoration: none;
    color: #e0ffff;
  }
  body .firstpage .nav ul {
    list-style: none;
    border: teal;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: teal;
    height: 100vh;
  }
  body .firstpage .nav ul li {
    font-size: 35px;
    margin: 5px;
  }
  body .firstpage .nav ul li a.navlabel {
    text-decoration: none;
    color: #e0ffff;
  }
  body .firstpage .nav ul li a.navlabel:hover {
    color: #01ffff;
  }
  body .firstpage .nav ul .icon {
    color: #e0ffff;
    font-size: 30px;
  }
  body .firstpage .landing {
    width: 75%;
    height: 100vh;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 23%;
  }
  body .firstpage .landing__header1 {
    font-size: 40px;
    color: #e0ffff;
  }
  body .firstpage .landing__header2 {
    font-size: 15px;
    color: #e0ffff;
  }

  .portanchor {
    height: 1vh;
  }

  .portfolio {
    min-height: 100vh;
    width: 75vw;
    margin-left: 21vw;
    color: #e0ffff;
  }
  .portfolio__header1 {
    font-size: 40px;
  }

  .gallery {
    display: grid;
    width: 75vw;
    grid-template-columns: repeat(2 fr);
    grid-template-rows: repeat(3 fr);
    grid-gap: 50px;
  }
  .gallery__img1 {
    margin-top: 2.5vh;
    height: 25vh;
    width: 35vw;
    max-width: 300px;
    max-height: 450px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .gallery__img2 {
    margin-top: 1vh;
    height: 25vh;
    width: 35vw;
    max-width: 300px;
    max-height: 450px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .gallery__img3 {
    margin-top: 1vh;
    height: 25vh;
    width: 35vw;
    max-width: 300px;
    max-height: 450px;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .gallery__text1 {
    margin-top: 1.5vh;
    font-size: 20px;
  }
  .gallery__text2 {
    font-size: 20px;
  }
  .gallery__text3 {
    font-size: 20px;
    color: teal;
  }

  .aboutanchor {
    height: 1vh;
  }

  .about {
    height: 100vh;
    margin-left: 21vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: teal;
  }
  .about__header1 {
    font-size: 40px;
  }
  .about__header1-para {
    font-size: 20px;
  }
  .about__header2 {
    font-size: 40px;
  }
  .about__header2-para {
    font-size: 20px;
  }
  .about__header3 {
    font-size: 40px;
  }
  .about__header3-para {
    font-size: 20px;
  }
}