@import 'assets/writing-colors/fonts/writing';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}
@media only screen and (max-width: 767px){
//mobile/tablet
    body{
        background: linear-gradient(teal, white);
            .nav{
                border: solid $primary-color 1px;
                background-color: $primary-color;          
                position: fixed;
                top: 0;
                width: 100%;
                height: auto;
                ul{
                    margin: 0;
                    padding:15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-direction: row;
                    height: 10vh;
                    li{
                        list-style: none;
                        font-size: 18px;
                        a.navlabel{
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
                .icon{
                    color: $secondary-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }   
        .landanchor{
            height: 10vh;
        }
        .landing{
            height: 90vh;
            margin-top: -10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            &__header1{
                font-size: 30px;
            }
            &__header2{
                font-size: 15px;
            }
        }
        .portanchor{
            height: 10vh;
        }
        .portfolio{
            height: 90vh;
        }
        .aboutanchor{
            height: 10vh;
        }
        .about{
            height: 90vh;
            &__header1{
                font-size: 30px;   
            }
            &__header1-para{
                font-size: 15px;
            }
            &__header2{
                font-size: 30px;
            }
            &__header2-para{
                font-size: 15px;
            }
            &__header3{
                font-size: 30px;
            }
            &__header3-para{
                font-size: 15px;
            }
        }
        }
    }
@media only screen and (min-width: 768px){
//desktop
    body{
        background: linear-gradient($primary-color, white);
        .firstpage{
            display: flex;
            flex-direction: column;
            text-align: center;
            
            .landing{
                margin-left: 25vh;
                width: 75vw;
                height: 100vh;
                font-size: large;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-left: 20vw;
                &__header1{
                    font-size: 40px;
                }
                &__header2{
                    font-size: 15px;
                }
            }    
            .nav{
                height: 100%;
                position: fixed;
                position: 0;
                z-index: 1;
                top: 0;
                left: 0; 
                overflow-x: hidden;
                width: 25vw;
                
                ul{
                    list-style: none;
                    border: $primary-color;
                    width: 20vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: $primary-color;
                    height: 100vh;
                    li{
                        font-size: 35px;
                        margin: 5px;
                        a.navlabel{
                            text-decoration: none;
                            color: black;
                        }
                    }
                    .icon{
                        color: $secondary-color;
                        font-size: 30px;
                    }
                }
            }
            }
    }
        .portfolio{
            height: 100vh;
            margin-left: 21vw;
            &__header1{
                font-size: 40px;
            }
            }
        .about{
            height: 100vh;
            margin-left: 21vw;
            display: flex;
            flex-direction: column;
            &__header1{
                font-size: 40px;   
            }
            &__header1-para{
                font-size: 20px;
            }
            &__header2{
                font-size: 40px;
            }
            &__header2-para{
                font-size: 20px;
            }
            &__header3{
                font-size: 40px;
            }
            &__header3-para{
                font-size: 20px;
            }
        }
} 

