@import 'assets/writing-colors/fonts/writing';

body{
    nav{
        border: solid $primary-color 1px;
        padding:10px;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            li{
                list-style: none;
            }
        }
    }
}