*{
    margin: 0;
    padding: 0;
}
body{
    nav{
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            li{
                list-style: none;
            }
        }
    }
}