* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hahmlet", serif;
}

@media only screen and (max-width: 767px) {
  body div.nav {
    border: solid teal 1px;
    background-color: teal;
    position: fixed;
    top: 0;
    width: 100%;
  }
  body div.nav ul {
    margin: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  body div.nav ul li {
    list-style: none;
    font-size: 18px;
  }
  body div.landing {
    margin-top: 59px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  body section.portfolio {
    height: 100vh;
  }
  body section.about {
    height: 100vh;
  }
}
@media only screen and (min-width: 768px) {
  body section.firstpage {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body section.firstpage div.landing {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20vw;
  }
  body section.firstpage div.nav {
    height: 100%;
    position: fixed;
    position: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 25vw;
  }
  body section.firstpage div.nav ul {
    list-style: none;
    border: teal;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: teal;
    height: 100vh;
  }
  body section.firstpage div.nav ul li {
    font-size: 20px;
  }
  body section.firstpage div.nav ul li a.navlabel {
    text-decoration: none;
  }

  section.portfolio {
    height: 100vh;
    margin-left: 22vw;
    font-size: x-large;
  }

  section.about {
    height: 100vh;
    margin-left: 22vw;
    font-size: x-large;
    display: flex;
    flex-direction: column;
  }
}